.signin-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* .signup-right {
  flex: 1;
  background-image: url('./assets/faa.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
} */

.signin-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.signin-right h2 {
  margin-bottom: 20px;
}

.signin-right form {
  display: flex;
  flex-direction: column;
}

.signin-right TextField {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

.btn-style {
  padding: 10px;
  background-color: #FF6767;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
}


img:hover {
  transform: scale(1.1);
}
.btn-style:hover {
  background-color: #0056b3;
}
 .signin-right {
  flex: 1;
  background-image: url('../assets/faa.png');
  background-repeat: no-repeat;
  background-position: center;

}
